{% extends "base.html" %}

{% load static %}

{% block page_title %}Sua plataforma de estudos personalizada{% endblock page_title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "study/css/homestyle.css" %}" />
{% endblock style %}

{% block content %}
<header>
    <h1>Study - Sua plataforma de estudos personalizada</h1>
</header>

<section>
    <p>Bem-vindo ao Study, a plataforma que vai revolucionar a sua forma de estudar! Utilizando a inteligência artificial do ChatGPT, oferecemos a você a oportunidade de criar provas personalizadas sobre qualquer assunto que desejar.</p>

    <img src="{% static "study/img/provaonline.jpg" %}" alt="Imagem de laptop com gráficos educacionais">

    <p>Teste seus conhecimentos com questões geradas automaticamente pela IA, e eleve o nível dos seus estudos de forma interativa e envolvente.</p>

    <a href="{% url "subject" %}">Comece agora! Configure sua prova</a>
</section>
{% endblock content %}

